
.details {
    display: flex;
    align-items: center;
    margin: 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    flex-direction: column;
    color: black;
    border: 1px solid white;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    /* width: 30rem;
    background-color: black; */
    color: white
}

.nyTimes-article {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-top: 1rem;
    padding: 10px 12px;
    text-align: center;
}

.nyTimes-article:hover {
    cursor: pointer;
}

.date-section {
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
}

.p-info {
    padding: 1rem;
    width: 35rem;
}

button {
    color: black;
}
.button {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
.details-image {
    width: 70vw
}

@media only screen and (min-width:300px) and (max-width:675px) {
   .date-section{
      width: 30vw
    }
    .p-info {
        width: 30vw;
    }
    .details {
        display: flex;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    flex-direction: column;
    color: black;
    border: 1px solid white;
    }
    .button {
        display: flex;
        flex-direction: column;
    }
}