select {
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dropdown-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 2rem;
    flex-direction: column;
    color: white;

}
