@import url('https://fonts.cdnfonts.com/css/chomsky');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

.App {
  text-align: center;
  font-family: 'Goudy Bookletter 1911', serif
}
html {
  background-color: black;
  text-align: center;
  
}
.App-header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: black;
  width: 30vw;
  font-family: 'Chomsky', sans-serif;
  background-color: white;
  border-radius: 1rem;
  margin: 2rem;
  height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

@media only screen and (min-width:300px) and (max-width:675px) {
      h1{
        width: 70vw;
      }
}