.App {
  text-align: center;
}
html {
  background-color: #494d5f;
}
.App-header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: black;
  width: 30rem;
  background-color: white;
  border-radius: 1rem;
  margin: 2rem;
  height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}