.article {
    border: 1px solid white;
    background-color: white;
    margin: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
}

.article-img {
    width: 15rem;
}

button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #494d5f;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 1rem;
  padding: 10px 12px;
  text-align: center;

}

.article-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}
@media only screen and (min-width:300px) and (max-width:675px) {
    .article-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
    
}
@media only screen and (min-width:300px) and (max-width:675px) {
    .article{
        border: 1px solid white;
        background-color: white;
        margin: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;

    }
    
}

